




/*------------------------------------*\
    $NAVEGACIÓN
\*------------------------------------*/

.position-absolute{
    position: fixed;
    right: $padding;
    top: $padding;
    padding-right:0;
    line-height: 0;

}

.nav li{
    list-style: none;
    line-height : 2.1;
    font-size: fs(normal);

    
}
.nav li a:visited {
    text-decoration: none;
    color: $color-brand;
}
.nav li a:hover{
    text-decoration: none;
}
.nav ul{
    padding: 0;
}

/* CLEARFIX */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}




/* ALL */

  .hamburger .line{
    width: 25px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 3px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover{
    cursor: pointer;
  }

.target{
    display: none;
}


/* ANIMATION */

  #hamburger1.is-active .line:nth-child(2){
    opacity: 0;
  }
  
  #hamburger1.is-active .line:nth-child(1){
    -webkit-transform: translateY(3px) rotate(45deg);
    -ms-transform: translateY(3px) rotate(45deg);
    -o-transform: translateY(3px) rotate(45deg);
    transform: translateY(3px) rotate(45deg);
  }
  
  #hamburger1.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }