@if $include-utilities == true{

/*------------------------------------*\
    $UTILITIES
\*------------------------------------*/
/*
*
* Selectors repeated constantly
*/





/*
 * Classes for font- sizes, you can check them in Settings.scss
 * Same name of the variables with the `font-` prefix

  .font-x-small {
   font-size: .9rem;
  }


 */

 @each $name, $value in $size-vars {
    .font-#{$name} {
   font-size: $value * 1rem;
   line-height: 1.5;
    }
  }
  
  
  
  
  /*
   * Classes for Brand colors, you can check them in Settings.scss
   * Same name of the variables with the `color-` prefix
  
    .color-brand
      color: #8bc84c;
    }
  */
  @each $color, $value in $brand-colors {
    .color-#{$color} {
   color: $value;
    }
    .bg-color-#{$color} {
   background-color: $value;
    }
  }




/*
 * Classes for font- sizes, you can check them in Settings.scss
 * Same name of the variables with the `font-` prefix

		.font-x-small {
			font-size: .9rem;
		}


 */

@each $name, $value in $size-vars {
    .font-#{$name} {
        font-size: $value * 1rem;
        line-height: 1.5;
    }
}




.float-right{
    float:right;
}

// Para cuando queremos tener varios elementos en inline-block:
.inline-block {
    display: inline-block;
}

// Diferentes especificaciones para márgenes
.nomargin-bottom {
    margin-bottom: 0;
}
.margin-bottom {
    margin-bottom: $padding;
}
.margin-left {
    margin-left: $padding;
}
.margin-right {
    margin-right: $padding;
}



// alineaciones
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}



// Diferentes especificaciones para paddings
.padding-top-xxl {
    padding-top: $padding * 6;
}
.padding-bottom-xxl {
    padding-bottom: $padding * 6;
}
.padding-left-medium {
    padding-left: $padding * 2;
}
.padding-right-medium {
    padding-right: $padding * 2;
}
.padding{
    padding: ($padding * 2) - 10;
}
.padding-mini{
    padding: $padding - 10;
}



// Diferentes redondeados para bg
.rounded{
    border-radius :$radius * 2;
}
.rounded-top {
    border-top-left-radius: $radius * 2;
    border-top-right-radius: $radius * 2;
}
.rounded-bottom {
    border-bottom-left-radius: $radius * 2;
    border-bottom-right-radius: $radius * 2;
}



.max-width {
    @include max-width;
}

.container {
    width: 270px;
    height: 200px;
    display: flex;
    flex-direction: column;
}
    .container--one {
        width: 100%;
        height: 40%;
        @include three-colors;
        align-items: center;
        justify-content: center;
    }
    .container--two {
        width: 100%;
        height: 60%;  
        border-right: 1px solid;
        border-bottom: 1px solid;
        border-left: 1px solid;
        border-color: #628D95;
        align-items: center;
        justify-content: center;
    }
    .container--hawkeu {
        @include three-colors (#628D95, #628F95, 40%, #3A3E99, 135deg);
    }
    .container--findness {
        @include three-colors (#956294, #956294, 40%, #3A5A99, 135deg);
    }
    .container--mum {
        @include three-colors (#E94E77, #C96681, 40%, #75273C, 135deg);
    }
    .container--hitngo {
        @include three-colors (#F38630, #CF712F, 40%, #7A4318, 135deg);
    }
    .container--camp {
        @include three-colors (#8ECE7F, #64B951, 40%, #226213, 135deg);
    }

.adop{
    width: 150px;
}
    .adop--mum {
        width: 120px;
    }
    .adop--camp {
        width: 170px;
    }
.iconsvg {
    /* Flow with text content */
    display: inline-block;
    /* Inherit the parent text color */
    fill: currentColor;
    height: 1em;
    width: 1em;
    vertical-align: middle;
    position: relative;
    top: -0.0725em;
    overflow: hidden;
    pointer-events: none;
   }

.valign-center {
    display: flex;
    align-items: center;
  }



/*------------------------------------*\
    $PLACEHOLDERS
\*------------------------------------*/
// Scss placeholder



%text-overflow {
	overflow : hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
}

  /**
  * The ghost, nudged to maintain perfect centering
  */
%vcenter {
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
}

  /**
  * Escondemos el texto solo VISUALMENTE
  */
%hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

  /**
  * Escondemos el texto de VISUALMENTE y SCREENREADERS
  */
%hidden {
	display : none !important;
	visibility : hidden;
}


  /**
  * Escondemos pero mantenemos layout.
  */
%invisible {
	visibility : hidden;
}


  /**
  * Visualmente escondido, pero se puede detectar con teclado (focus).
  */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	position : static;
	clip : auto;
	height : auto;
	width : auto;
	margin : 0;
	overflow: visible;
}


  /**
  * Clear floats.
  * http://bit.ly/1e3YaBH
  */
%clearfix {
	&:after{
        content:"";
        display:table;
        clear:both;
    }
}









} // if